.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(120, 120, 120);
  height: 80px;
  width: 100%;
  color: beige;
  flex: none;
}

.f-facebook,
.f-terms,
.f-email {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 40px;
  flex-grow: 1;
  flex: 1;
}

.footer-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
  background-color: rgb(60, 60, 60);
  height: 40%;
  letter-spacing: 1px;
}

.footer-facebook,
.footer-email,
.footer-terms {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  flex: 0;
}

a {
  text-decoration: none;
  color: beige;
}

.footer-facebook-text,
.footer-facebook-email {
  margin-left: 6px;
  letter-spacing: 2px;
}

.footer-terms {
  cursor: pointer;
}
