.nav-signout,
.nav-home,
.nav-contact,
.nav-faq {
  margin-left: 5px;
  flex: none;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  background-color: white;
  transition: 0.5s;
  outline: none;
  background-color: rgb(100, 100, 100);
  border: 3px solid rgb(100, 100, 100);
  color: beige;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgb(60, 60, 60);
  border-radius: 10px;
}

.nav-name {
  font-size: medium;
  letter-spacing: 0px;
}

.nav-coins {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.nav-coins-value {
  font-size: 0.5em;
  margin-left: 5px;
}

.nav-signout:hover,
.nav-home:hover,
.nav-contact:hover,
.nav-faq:hover {
  box-shadow: 1px 1px 10px beige;
}
