@import url("https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

.new-survey {
  background-color: rgb(42, 42, 42);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 397px;
  padding: 10px;
  color: beige;
  box-shadow: 2px 4px 10px grey;
  border: 3px solid rgb(42, 42, 42);
  border-radius: 15px;
  /* height: 100px; */
}

.new-survey-title {
  flex-grow: 1;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: x-large;
}

.new-survey-creator {
  text-align: center;
  font-family: monospace;
}

.new-survey-reward {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  text-align: center;
  font-family: "Signika", sans-serif;
  font-size: xx-large;
  color: rgb(160, 139, 20);
  font-weight: 700;
  text-shadow: 0.1px 0.1px 1.5px black;
  align-self: center;
}

.new-survey-solve {
  align-self: center;
  text-align: center;
  flex: none;
  margin: 4px 0px;
  font-size: large;
  max-width: 400px;
  width: 80%;
  box-sizing: border-box;
  border: 3px solid rgb(160, 160, 160);
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  background-color: white;
  transition: 0.5s;
  outline: none;
  background-color: #4caf50;
  border: 3px solid #4caf50;
  color: white;
  padding: 8px;
  text-decoration: none;
  margin: 20px 2px;
  cursor: pointer;
  box-shadow: 1px 1px 10px grey;
  border-radius: 10px;
}

.new-survey-reward-value {
  margin-left: 10px;
}

.new-survey-solve:hover {
  box-shadow: 1px 1px 10px beige;
}

.new-survey-reward-coins,
.new-survey-reward-value {
  /* filter: drop-shadow(0 0 0.75rem beige); */
  filter: drop-shadow(0 0mm 1mm black);
}
