@import url("https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
  background-color: rgb(42, 42, 42);
  max-width: 600px;
  height: auto;
  margin: 20px auto;
  /* padding: 10px; */
  border-radius: 20px;
  box-shadow: 4px 6px 20px grey;
  color: beige;
  padding-top: 20px;
}

.register-email,
.register-password,
.register-first-name,
.register-last-name,
.register-gender,
.register-date,
.register-account-type,
.register-company,
.form-gdpr {
  flex: none;
  margin: 4px 0px;
  font-size: medium;
  max-width: 400px;
  width: 80%;
  padding: 6px 10px;
  box-sizing: border-box;
  border: none;
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  background-color: white;
  transition: 0.5s;
  outline: none;
  border-radius: 15px;
  box-shadow: 1px 1px 10px grey;
}

.register-submit,
.register-back {
  align-self: center;
  text-align: center;
  flex: none;
  margin: 4px 0px;
  font-size: large;
  max-width: 400px;
  width: 80%;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  background-color: white;
  transition: 0.5s;
  outline: none;
  background-color: #4caf50;
  border: 3px solid #4caf50;
  color: white;
  padding: 8px;
  text-decoration: none;
  margin: 20px 2px;
  cursor: pointer;
  box-shadow: 1px 1px 10px grey;
  border-radius: 15px;
  margin-top: 60px;
}

.register-back {
  margin-top: 10px;
  border: 3px solid #4397b1;
  background-color: #4397b1;
}

label {
  flex: none;
  margin: 8px 0px;
  margin-left: 20px;
  margin-bottom: -3px;
  font-size: large;
  max-width: 400px;
  width: 80%;
  margin-top: 10px;
}

.register-error {
  display: flex;
  flex: none;
  max-width: 400px;
  width: 80%;
  color: red;
}

.register-error-message {
  margin-left: 4px;
  font-weight: 500;
}

.register-submit:hover,
.register-back:hover {
  box-shadow: 1px 1px 10px beige;
}

.register-email:focus,
.register-password:focus,
.register-first-name:focus,
.register-last-name:focus,
.register-gender:focus,
.register-date:focus,
.register-submit:focus,
.register-back:focus,
.register-account-type:focus,
.register-company:focus {
  box-shadow: 1px 1px 10px beige;
}

.gdpr-label {
  color: rgb(42, 42, 42);
  letter-spacing: normal;
  font-weight: normal;
  font-size: medium;
  margin-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.form-gdpr {
  display: flex;
  margin-top: 20px;
}

.check-box {
  height: 25px;
  width: 25px;
}

.register-title {
  flex: none;
  font-size: x-large;
  max-width: 400px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
}
